<!DOCTYPE html>
<html>
  <head>
    <title>DuvalTheDev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-fullheight-with-navbar">
      <%= render 'layouts/navbar' %>
      <div class="hero-body">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
