<!DOCTYPE html>
<html>
  <head>
    <title>Duval The Dev.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-light is-fullheight">
      <%= render 'layouts/navbar' %>

      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <%= main_content_position_sampler %>
          </div>
        </div>
      </div>

      <%= render 'layouts/footer' %>
    </section>
  </body>
</html>
